<form method='POST' action='/register'>
  <input type='hidden' name='__csrf_token' value='{{__csrf_token}}'/>
  <legend>username: </legend>
  <input type='text' name='username'/>
  <br/>
  <legend>email: </legend>
  <input type='text' name='email'/>
  <br/>
  <legend>password: </legend>
  <input type='password' name='password'/>
  <br/>
  <input type='submit'/>
</form>